header {
  position: sticky;
}
#parent2 {
  width: 100%;
  height: 840px;
  background-color: rgb(17, 27, 33);
  display: block;
}

#back,
#back1 {
  position: relative;
  z-index: 14;
  top: 96px;
  left: 135px;
}
.sage {
  position: relative;
  z-index: 15;
  top: -350px;
  width: 326px;
  height: 254px;
  left: 150px;
}
#d1 {
  color: black;
}
#d,
#d1 {
  font-size: 60px;
  text-align: left;
  position: relative;
  z-index: 16;
  top: -500px;
  left: 800px;
}
#dd {
  color: white;
}
b {
  color: #25d366;
}
#pers {
  position: relative;
  z-index: 14;
  top: -480px;
  left: 765px;
  color: white;
  letter-spacing: -0.18px;
  text-align: left;
  font-size: 18px;
  line-height: 25px;
}
#pers1 {
  position: relative;
  top: -700px;
  left: 765px;
  letter-spacing: -0.18px;
  text-align: left;
  font-size: 18px;
  line-height: 25px;
}
#orr,
#ore {
  position: relative;
  top: 224px;
  left: 134px;
}
#gc {
  font-size: 60px;
  letter-spacing: -0.18px;
  position: relative;
  z-index: 26;
}
#or,
#ore {
  font-size: 18px;
  letter-spacing: normal;
  line-height: 25px;
}
.ins {
  position: absolute;
  top: 3840px;
  left: 779px;
  z-index: 2;
}
.inso,
.ins1 {
  position: relative;
  top: -250px;
  left: 779px;
  z-index: 1;
}
#gce {
  font-size: 60px;
  line-height: 60px;
  position: relative;
  z-index: 55;
  top: -300px;
}
#fondvert {
  width: 100%;
  height: 591px;
  background-color: #e6ffda;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
}
.box {
  position: relative;
  width: 504px;
  height: 399px;
  border-radius: 25px;
  background-color: white;
  left: 683px;
  top: 96px;
  z-index: 2;
}
.jj {
  border: solid black 1px;
  padding: 20px;
  border-radius: 100%;
}
.JJ1 {
  transform: rotate(180deg);
}
.jjpapa {
  padding-left: 135px;
  padding-bottom: 138px;
}
.suite {
  border: solid black 1px;
  padding: 15px;
  border-radius: 50px;
  width: 79px;
  height: 16px;
  position: relative;
  left: 739px;
  top: -210px;
  z-index: 3;
}
h3 {
  /* Font & Text */
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: -0.96px;
  line-height: 32px;
  text-decoration: none solid rgb(28, 30, 33);
  text-align: start;
  text-indent: 0px;
  text-transform: none;
  vertical-align: baseline;
  white-space: normal;
  word-spacing: 0px;
}
.h {
  position: relative;
  left: 739px;
  top: -450px;
  z-index: 3;
}
.kkk {
  position: relative;
  left: 739px;
  top: -680px;
  z-index: 3;
  width: 25px;
}
.fin {
  width: 100%;
  height: 1200px;
  background-color: rgb(17, 27, 33);
  display: block;
}
